/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
main,
div,
h1,
h2,
p,
a,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  color: #005ea0;
}

button {
  color: #005ea0;
}

/* HTML5 display-role reset for older browsers */
header,
section {
  display: block;
}
body {
  background-color: #ebeff3;
  line-height: 1;
}

a {
  text-decoration: none;
}
